* {
box-sizing: border-box;
}

body {
margin: 0px;
font-family: 'segoe ui';
background-color: #EEE;
}

.nav {
height: 70px;
width: 100%;
background-color: #FFF;
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav > .nav-header {
display: inline;
}

.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 22px;
color: #fff;
padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
display: none;
}

.nav > .nav-links {
display: inline;
float: right;
font-size: 18px;
margin-right: 3.5rem;
}

.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: #666;
transition: .5s;
border-radius: 10px;
}

.nav > .nav-links > a:hover {
background-color: rgba(133, 133, 133, 0.486);
}

.nav > #nav-check {
display: none;
}

@media (max-width:480px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 70px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #666;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #EEE;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }
}

.logo {
    width: 10rem;
    aspect-ratio: 16/9;
    object-fit: contain;
    transition: .5s;
    border-radius: 10px;
}

#about {
    width: 500px;
    height: 500px;
    background-color: #666;
}

.teste {
    width: 200px;
    height: 200px;
    background-color: #666;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
    background-color: #FFF;
}